.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
.gitignore
.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/claudeCodeTabState.xml
.idea/editor.xml
.gitignore
.idea/GPNP.iml
/data/output_frames_mono/
/data/stere_frames/
/.idea/.name
/.idea/NEW_Steretracker-master.iml
__pycache__/
/tests/data/fixtures/
